body { /*undoing defaults*/
    margin: 0;
}

.header {
    text-align: right;
    background: #f7f7f7;
    font-size: 10px;
}

.devtool {
    display: none;
}

.flexbox {
    display: flex;
}
  
.leftcolumn {
    flex: 1;
}

.centercolumn {
    flex: 1;
}

.rightcolumn {
    flex: 1;
}

.aligncenter {
    text-align: center;
}

.floatright {
    float: right;
}

.floatleft {
    float: left;
}

.paddingleft { /*amount of padding usually associated with the body*/
    padding-left: 8px;
}

#solvedsolution {
    color: #0275d8;
}

#errorguess {
    color: #d9534f;
}

