body { /*undoing defaults*/
    margin: 0;
}

.header {
    text-align: right;
    background: #f7f7f7;
    font-size: 10px;
}

.devtool {
    display: none;
}

.flexbox {
    display: flex;
}
  
.leftcolumn {
    flex: 1;
}

.centercolumn {
    flex: 1;
}

.rightcolumn {
    flex: 1;
}

.aligncenter {
    text-align: center;
}

.floatright {
    float: right;
}

.floatleft {
    float: left;
}

.floatcenter {
    float: center;
}

.paddingleft { /*amount of padding usually associated with the body*/
    padding-left: 8px;
}

.paddingright {
    padding-right: 8px;
}

.progressbar { /*the black bar, which will be filled by #nodeprogress*/
    height: 20px;
    background-color: #292b2c;
    padding: 1px; /*tiny gap so it can act as an 'outline' to the #nodeprogress*/
    border-radius: 3px; /*the nice bit of curve at the edges of the box*/
    position: relative; /*if we use absolute, the block won't stretch to fill the space*/
    z-index: 0;
}

#nodeprogress { /*must be put inside a .progressbar, which it will fill*/
    width: 0%;
    height: 20px;
    border-radius: 3px;
    background-color: #0275d8;
    position: absolute; /*if contained within .progressbar, this will be absolute relative to its parent only*/
    z-index: 1;
}

#nodeprogresstext {
    color: white;
    position: relative; 
    top: 1px; /*used to counter the padding added by .progressbar*/
    z-index: 2;
}

#solvedsolution {
    color: #0275d8;
}

#errorguess {
    color: #d9534f;
}

#nodecount {
    color:  #0275d8;
}

