body { /*undoing defaults*/
    margin: 0;
}

.header {
    text-align: right;
    background: #f7f7f7;
    font-size: 10px;
}

.devtool {
    display: none;
}

.flexbox {
    display: flex;
}
  
.leftcolumn {
    flex: 1;
}

.centercolumn {
    flex: 1;
}

.rightcolumn {
    flex: 1;
}

.aligncenter {
    text-align: center;
}

.floatright {
    float: right;
}

.floatleft {
    float: left;
}

.floatcenter {
    float: center;
}

.nofloat {
    float: none;
}

.paddingleft { /*amount of padding usually associated with the body*/
    padding-left: 8px;
}

.paddingright {
    padding-right: 8px;
}

.paddingbottom {
    padding-bottom: 8px;
}

.nopadding {
    padding: 0px;
}

.paddingleftright {
    padding-left: 2px;
    padding-right: 2px;
}

.smallbutton {
    width: 18px;
    height: 18px;
    margin: 0px;
    padding: 0px;
    line-height: 0; /*removes default transformation of text, the space above the text*/
    font-family: Arial, Helvetica, sans-serif
}

.progressbar {
    visibility: visible;
    height: 5px;
    background-color: #292b2c;
    position: relative; /*if we use absolute, the block won't stretch to fill the space*/
    z-index: 0;
    text-align: center; /* for the tooltip! */
  }

.progress {
    width: 0%;
    height: 5px;
    background-color: #0275d8;
    position: absolute;
    z-index: 1;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}
  
  /* Tooltip text */
    .tooltip .tooltiptext {
        visibility: hidden;
        width: 200px;
        height: auto;
        background-color: black;
        color: #fff;
        text-align: center;
        padding: 5px;
        border-radius: 6px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
        position: absolute;
        z-index: 10;
    }

    .tooltip .tooltiptextsmall {
        visibility: hidden;
        background-color: black;
        color: #fff;
        text-align: center;
        padding: 5px;
        border-radius: 6px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
        position: absolute;
        top: 100%; /*displace it down*/
        z-index: 10;
        white-space: nowrap; /*keep it all on 1 line*/
    }

    .tooltip .tooltiptextprogress {
        visibility: hidden;
        background-color: black;
        color: #fff;
        text-align: center;
        padding: 5px;
        border-radius: 6px;
        font-size: 11px;
        position: absolute;
        z-index: 10;
        white-space: nowrap; /*keep it all on 1 line*/
        bottom: 100%;
    }
  
    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip:hover .tooltiptext {
        visibility: visible;
    }

    .tooltip:hover .tooltiptextsmall {
        visibility: visible;
    }
    
    .progressbar:hover .tooltiptextprogress {
        visibility: visible;
    }

.hide {
    display: none;
}

#nodeprogressbar { /*the black bar, which will be filled by #nodeprogress*/
    height: 20px;
    background-color: #292b2c;
    padding: 1px; /*tiny gap so it can act as an 'outline' to the #nodeprogress*/
    border-radius: 3px; /*the nice bit of curve at the edges of the box*/
    position: relative; /*if we use absolute, the block won't stretch to fill the space*/
    z-index: 0;
}

#nodeprogress { /*must be put inside a .progressbar, which it will fill*/
    width: 0%;
    height: 20px;
    border-radius: 3px;
    background-color: #0275d8;
    position: absolute; /*if contained within .progressbar, this will be absolute relative to its parent only*/
    z-index: 1;
}

#nodeprogresstext {
    color: white;
    position: relative; 
    top: 1px; /*used to counter the padding added by .progressbar*/
    z-index: 2;
}

.popup {
    position: relative;
    display: inline-block;
  }
  
  /* The actual popup text */
  .popup .popuptext {
    visibility: hidden;
    color: #292b2c; ;
    text-align: center;
    position: absolute;
    top: 0%;
    left: -10%;
    z-index: 20;
  }
  
  /* Toggle this class when triggering the function */
  .popup .show {
    visibility: visible;
  }

#solvedsolution {
    color: #0275d8;
}

#errorguess {
    color: #d9534f;
}

#totalnodes {
    color:  #0275d8;
}

